body{
    margin: 0 auto;
    background-color: rgb(56, 132, 173);
    text-align: center;
    text-decoration color: #f6f6f6;
    font-family:first-letter;
    
}

.header{
    background-color: rgb(72, 69, 69);
    text-align: center;
    height: 1000px;
}

li{
    text-align: center;
}

main{
    text-align: center;
    background-color: rgb(195, 190, 190);
    height: 1000px;
    width: 50px 0px 0px 50px;
}



.foto{
    width: 250px;
    margin: 20px 20px 0 20px;
    border: 3px solid rgb(21, 33, 33);
    box-shadow: 0px 0px 10px 0px;
    border-radius: 50%;
    
    
}
.video1{
    margin: 10px ;
}
.video2{
    margin: 10px;
}

p{
    font-size: 25px;
    text-align: center;
    text-align: justify;
    margin: 0 10px 0 10px;

}